@import 'tailwindcss';

body {
  margin: 0;
  padding: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
/*  */
@theme {
  --breakpoint-ms: 320px;
  --breakpoint-ss: 526px;
  --breakpoint-md2: 770px;
  --breakpoint-lg: 1025px;
  --breakpoint-mac: 1920.98px;

  --spacing-50: 50px;
  --spacing-100: 100px;

  --color-green-100: #009b3e;
  --color-dark-100: #1d1d1d;
}

:root {
  --color-green-100: #009b3e;
}

.wrapper_centering {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-inline: auto;

  @media (width >= 480px) {
    max-width: 438px;
  }
  @media (width >= 526px) {
    /* @media (width >= 768px) { */
    max-width: 800px;
    /* max-width: 100dvw; */
  }
  @media (width >= 1025px) {
    max-width: 924px;
  }
  @media (width >= 80rem) {
    max-width: 1180px;
  }
  @media (width >= 96rem) {
    max-width: 1290px;
  }
  @media (width >= 1920.98px) {
    max-width: 1250px;
  }
}

.border_solid {
  border-width: 1px;
  border-style: solid;
}

.border_left {
  border-left-width: 1px;
  border-left-style: solid;
}

.border_right {
  border-right-width: 1px;
  border-right-style: solid;
}

.border_x {
  border-right-width: 1px;
  border-right-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
}

.border_y {
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

button,
a {
  cursor: pointer;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Анимация плавного исчезновения вправо */
@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

/* Классы для применения анимаций */
.toast-enter {
  animation: slideInRight 0.4s cubic-bezier(0.21, 1.02, 0.73, 1) forwards;
}

.toast-leave {
  animation: slideOutRight 0.4s cubic-bezier(0.21, 1.02, 0.73, 1) forwards;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
