@import 'tailwindcss';

body {
  margin: 0;
  padding: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

@theme {
  --breakpoint-mac: 1920.98px;
  --breakpoint-ss: 526px;
  --breakpoint-ms: 320px;
  --breakpoint-md2: 770px;
  --breakpoint-lg: 1025px;

  --spacing-50: 50px;
  --spacing-100: 100px;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin-inline: auto;
  @media (width >= 320px) {
    max-width: 320px;
  }
  @media (width >= 526px) {
    max-width: 526px;
  }
  @media (width >= 770px) {
    max-width: 770px;
  }
  @media (width >= 1025px) {
    max-width: 1025px;
  }
  @media (width >= 1920.98px) {
    max-width: 1920.98px;
  }
  @media (width >= 40rem /* 640px */) {
    max-width: 40rem /* 640px */;
  }
  @media (width >= 48rem /* 768px */) {
    max-width: 48rem /* 768px */;
  }
  @media (width >= 80rem /* 1280px */) {
    max-width: 1194px /* 1280px */;
  }
  @media (width >= 96rem /* 1536px */) {
    max-width: 1194px /* 1536px */;
  }
}

.border_solid {
  border-width: 1px;
  border-style: solid;
}

.border_left {
  border-left-width: 1px;
  border-left-style: solid;
}

.border_right {
  border-right-width: 1px;
  border-right-style: solid;
}

.border_x {
  border-right-width: 1px;
  border-right-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
}

.border_y {
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

button,
a {
  cursor: pointer;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Анимация плавного исчезновения вправо */
@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

/* Классы для применения анимаций */
.toast-enter {
  animation: slideInRight 0.4s cubic-bezier(0.21, 1.02, 0.73, 1) forwards;
}

.toast-leave {
  animation: slideOutRight 0.4s cubic-bezier(0.21, 1.02, 0.73, 1) forwards;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}